# ==============================================================================
# CONFIGURAȚIE MEDIU KEYCLOAK (IAM & OIDC GATEWAY)
# ==============================================================================

DB_DATABASE=keycloak
DB_USER=keycloak
DB_PASSWORD=keycloak_secure_db_password

ADMIN_USER=admin
ADMIN_PASSWORD=admin_super_secure_password_change_me
TZ=Europe/Bucharest
